#header {
    font-family: "Times New Roman", Times, serif;
    margin-left: 20px;
    padding-top:10px;
    text-align: left;
    float: left;
    color: whitesmoke;
}

#username_availability_result {
    display:none;
}

#valid_pass {
    display:none;
}

#invalid_pass {
    display:none;
}

#valid_passConfirm {
    display:none;
}

#invalid_passConfirm {
    display:none;
}

#valid_username {
    display:none;
}

#valid_email {
    display:none;
}

#invalid_email {
    display:none;
}

/*used for top navigation bar*/
.navi {
    width: 100%;
    max-width: 100%;
    background-color: #424242;
    position: relative;
    z-index: 999;
    min-width: 940px;
    min-height: 60px;
}

/*left side of navigation bar*/
.left-side {
    float: left;
}

/*right side of navigation bar*/
.right-side {
    float: right;
}

/*group of icons in right side of navigation bar*/
.list-group {
    position: relative;
    height: 60px;
    font-size: 30px;
    background-color: #424242;
}

/*individual icons in right side of navigation bar*/
.fa-fw {
    line-height: 60px !important;
    width: 60px !important;
    height: 60px;
    float: left;
    vertical-align: top;
    position: relative;
    color: whitesmoke;
}

.fa-fw:hover {
    color: white;
    background-color: black;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.signup {
    margin: 20px;
}

.signin {
    margin: 20px;
}

h1 {
    padding: 0px;
    margin: 0;
}

#pswd_info {
    margin-left: 200px;
    margin-top: -110px;
    position:absolute;
    width: 240px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    display: none;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#signUpErr h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
    display:none;
}

